<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Service</title>
</head>

<body>

<h1>Your orders</h1>
<nav th:insert="~{block/fragment :: header}"></nav>
<ul>
    <li th:each="order : ${orders}">
        <span th:text="${order?.placedAt}">placed at</span> -
        <span th:text="${order?.deliveryStreet}">Delivery street</span>
        <ul>
            <li th:each="pizza : ${order.pizzasDto}">
                <span th:text="${pizza.name}"></span> :
                <span th:each="ingredient : ${pizza.ingredients}">
              <span th:text="${ingredient.name}">INGREDIENT</span>
            </span>
            </li>
        </ul>
    </li>
</ul>
</body>

<script th:inline="javascript">
        window.addEventListener('DOMContentLoaded', () => {
            console.log(/*<![CDATA[*//*[[${orders}]]*/);
        });
</script>

</html>