<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>

<img th:src="@{/images/PizzaEnjoy.png}"/>

<form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Username: </label>
    <input id="username" type="text" name="username"/><br/>

    <label for="password">Password: </label>
    <input id="password" type="password" name="password"/><br/>

    <label for="confirm">Confirm password: </label>
    <input id="confirm" type="password" name="confirm"/><br/>

    <label for="fullname">Full name: </label>
    <input id="fullname" type="text" name="fullname"/><br/>

    <label for="street">Street: </label>
    <input id="street" type="text" name="street"/><br/>

    <label for="city">City: </label>
    <input id="city" type="text" name="city"/><br/>

    <input type="submit" value="Register"/>
</form>

</body>
</html>