<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>

<img th:src="@{/images/PizzaEnjoy.png}"/>

<form style="margin-left: 30px; display: flex; flex-direction: column; align-items: baseline;" method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Username: </label>
    <input id="username" type="text" name="username"/><br/>

    <label for="password">Password: </label>
    <input id="password" type="password" name="password"/><br/>

    <label for="confirm">Confirm password: </label>
    <input id="confirm" type="password" name="confirmPassword"/><br/>

    <label for="fullname">Full name: </label>
    <input id="fullname" type="text" name="fullname"/><br/>

    <label for="street">Street: </label>
    <input id="street" type="text" name="street"/><br/>

    <label for="city">City: </label>
    <select id="city" name="cityId">
        <option value="" disabled="disabled" selected="selected">Select your City</option>
        <option th:each="city : ${cities}"
                th:value="${city.id}"
                th:text="${city.name}">
        </option>
    </select>
    <span style="display: block; color: red" class="validationError"
          th:each="error : ${allErrors}"
          th:text="${error}">error user registration</span>

    <input style="margin-top: 20px" type="submit" value="Register"/>
</form>

</body>
</html>